<!-- Title slide with autoslide turned off -->
<section data-markdown="docs/slides/00-title.md" data-autoslide="0" data-separator-vertical="^\r?\n\r?\n\r?\n" data-separator-notes="^Notes?:"></section>

<!-- Presentation slides using default autoslide passed in ADDITIONAL_REVEAL_OPTIONS -->
<section data-markdown="docs/slides/01-slides.md" data-separator-vertical="^\r?\n\r?\n\r?\n" data-separator-notes="^Notes?:"></section>
